# Build artifacts
build/
*.iso
*.bin
*.o
*.elf

# CMake generated
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE specific
.vscode/
.idea/

# Temporary files
*~
*.swp

src/build_*/*
venv
!build_*/kernel.bin
!build_*/kernel.img
*.lock
*.egg-info*
.cmake
iso
.env
build.ninja
.ninja*

00_per_arne
src/group_name/src/kernel.c
