vscode
src/build_*/*
venv
!build_*/kernel.bin
!build_*/kernel.img
*.lock
.cmake
CMakeCache*
CMakeFiles
iso
.env
build.ninja
.ninja*

cmake_install.cmake
compile_commands.json

00_per_arne
src/group_name/src/kernel.c